<launch>
  <!-- Variable names -->
  <arg name="camera_node" default="usb_cam" />
  <!--<arg name="calibration_file" default="file://$(find pgr_camera_driver)/test_intrinsics.ini" />-->
  <!--<arg name="calibration_file" default="file://$(find pgr_camera_driver)/fmvu-03mtm-1.6mm.ini" />-->
	<arg name="calibration_file" default="file://$(find pgr_camera_driver)/config/camera/pgr_camera_color_calibration.ini" />
    
  <node name="$(arg camera_node)" pkg="pgr_camera_driver" type="pgr_camera_node" respawn="false" output="screen">
        <!-- HAS NO EFFECT HERE (b/c parameters are set through dynamic_reconfigure)
        <param name="width" type="int" value="640" /> # Default 640
        <param name="height" type="int" value="480" /> # Default 480
        <param name="format" value="Y8" /> # Y8 works with Color (Don't Select RGB if you don't know)
        <param name="frame_rate" type="int" value="30" />
        -->
        
        <param name="camera_name" type="str" value="pgr_camera" />
        # NECESSARY:  
        <param name="intrinsics_ini" type="str" value="$(arg calibration_file)" />
  </node> 
  

	<node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
		<param name="marker_pattern_list" type="string" value="$(find ar_pose)/data/object_4x4"/>
		<param name="threshold" type="int" value="100"/>
	</node>
`
	<node pkg="tf" type="static_transform_publisher" name="world_to_marker" args="0 0 0 0 0 0 world ar_marker 10" />
<node pkg="tf" type="static_transform_publisher" name="world_to_cam"
                args="0 0 0.5 -1.57 0 -1.57 world usb_cam 1" />
</launch>

