<launch>
	<machine name="heli" address="heli.local" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true" />
	<machine name="client" address="hyon-gt683dx.local" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true" />

	<node pkg="rviz" type="rviz" name="rviz" machine="client" args="-d $(find nrl_heli_client)/launch/heli_view.vcg"/>
	<node pkg="dynamic_reconfigure" name="reconfig" type="reconfigure_gui" machine="client" />
	<node pkg="image_transport" name="republish" type="republish" type="reconfigure_gui" args="compressed in:=/usb_cam/image_raw out:=/usb_cam_repub/image_raw">
		<remap from="usb_cam/camera_info" to="/camera_info"/>
	</node>
</launch>

